<div class="sidebar" id="filters">
  <h3>Filters</h3>

  <p class="input-group">
    <input type="text" class="form-control category-measure-search" placeholder="measure or group title">
    <span class="input-group-btn"><a class="btn btn-default clear-search" type="button">&times;</a></span>
  </p>

  <div class="panel-group" id="measureSelectors">
    {{#each}}
      {{render 'sidebar-category' this}}
    {{/each}}
  </div>
</div>


<div class="main">
  <div class="main-heading">
    <h1 class="title">Measures</h1>
    <div class="header-actions pull-right">

      <div class="btn-group btn-group-md" data-toggle="buttons">
        <label class="btn col-md-6 fa fa-align-left large-icon btn-default{{!#unless populationChartScaledToIPP}} active  btn-primary{{!/unless}}">
          <input class="rescale" type="radio" value="false" name="population_chart_scale" {{!#unless populationChartScaledToIPP}}checked{{!/unless}}/>
        </label>
        <label class="btn col-md-6 fa fa-align-justify large-icon btn-default{{!--#if populationChartScaledToIPP}} active btn-primary{{/if--}}">
          <input class="rescale" type="radio" value="true" name="population_chart_scale" {{!--#if populationChartScaledToIPP}}checked{{/if--}}/>
        </label>
      </div>

      <a href="/api/reports/qrda_cat3.xml{{!--#if effective_date}}?effective_date={{effective_date}}{{/if}}{{#if provider_id}}&provider_id={{provider_id}}{{/if--}}" class="btn btn-primary"><i class="glyphicon glyphicon-download-alt"></i> Export</a>
    </div>
  </div>
  {{#each selectedCategories itemController='dashboard-category'}}
    <h2>{{name}}</h2>
    <div class="category">
      <div class="category-percent">
        <div class="title-circle">%</div>
      </div>
      <div class="category-fraction">
        <div class="fraction-listing">
          <div class="numerator">Numerator</div>
          <div class="denominator">Denominator</div>
        </div>
      </div>
    </div>

    {{#each measure in selectedMeasures itemController='dashboard-measure-result'}}
      {{#each measure.subs itemController='dashboard-submeasure'}}
        <div {{bind-attr class=":measure isPopulated::loading"}}>
          <div class="measure-identifier">
            {{#if isPrimary}}{{#if measure.cmsId}}
              <div class="cms-cms">CMS</div>
              <div class="cms-number">{{measure.cmsNumber}}</div>
              <div class="cms-version">v{{measure.cmsVersion}}</div>
            {{/if}}{{/if}}
          </div>
          <div {{bind-attr class="isPrimary:measure-info"}}>
            <div class="measure-title-id">
              <div class="measure-title" {{bind-attr data-measure-sub=subId}}>
                {{#if isPrimary}}
                  {{#link-to 'submeasure' measure.hqmfId subId}}{{measure.name}}{{/link-to}}
                {{/if}}
              </div>
              <div class="measure-subtitle">
                {{#link-to 'submeasure' measure.hqmfId subId}}{{shortSubtitle}}{{/link-to}}
              </div>
            </div>
            {{partial 'results'}}
          </div>
        </div>
      {{else}}
        <div {{bind-attr class=":measure isPopulated::loading"}}>
          <div class="measure-identifier">
            {{#if cmsId}}
              <div class="cms-cms">CMS</div>
              <div class="cms-number">{{cmsNumber}}</div>
              <div class="cms-version">v{{cmsVersion}}</div>
            {{/if}}
          </div>
          <div class="measure-info">
            <div class="measure-title-id">
              <div class="measure-title">
                {{#link-to 'measure' hqmfId}}{{name}}{{/link-to}}
              </div>
              <div class="measure-subtitle"></div>
            </div>
            {{partial 'results'}}
          </div>
        </div>
      {{/each}}
    {{/each}}

    {{!--#if proportionBasedMeasures.length}}
      <div class="category">
        <div class="category-percent">
          <div class="title-circle">%</div>
        </div>
        <div class="category-fraction">
          <div class="fraction-listing">
            <div class="numerator">Numerator</div>
            <div class="denominator">Denominator</div>
          </div>
        </div>
      </div>

      {{#collection proportionBasedMeasures item-context=measureContext item-filter=../../measureFilter}}
        {{view submeasureView}}
      {{/collection}}
    {{/if}}

    {{#if cvMeasures.length}}
      <div class="continuous-variable category">
        <div class="category-time">
          <div class="title-circle"><%= image_tag 'icon-clock.png' %></div>
        </div>
        <div class="category-fraction">
          <div class="fraction-listing">
            <div class="numerator">Episodes</div>
            <div class="denominator">Total Episodes</div>
          </div>
        </div>
      </div>

      {{#collection cvMeasures item-context=measureContext item-filter=../../measureFilter}}
        {{view submeasureView}}
      {{/collection}}
    {{/if--}}

  {{/each}}
</div>
